data/
exp/
tools/__pycache__
__pycache__/
oldsteps/
oldutils/
mfcc/
.temp/
local/old*
/config_manager.py
configold.ini
debug.txt
debug2.txt
dlc.py
feats*
*feats
feature_maker.py
kaldi_file_maker.py
language_data.py
candidates*
postDLC.py
preDLC.py
video_handler.py
